

/*intro*/

/*Main*/


/*navigation icons */ 

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    /* background: linear-gradient(45deg, #0290ee, #f57070); */
    background: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:sans-serif;
}
/* 
body::after{
    background: url(../../images/background.jpg);
    background-size: cover;
    background-position: center;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;  
} */

#intro {
    margin-top: 200px;
    transition: all 3s ease-in-out;
}

#intro h1{
    background: -webkit-linear-gradient(90deg, #3f50e9, #b94007);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    font-weight: 500;
    line-height: 2;
}

.container {
    /* border-radius: 60%; */
    border-color: #021aee;
    margin: 2px; 
    /* margin-inline: 400px; */
    padding: 100px;
    /* background: -webkit-linear-gradient(90deg, #a3a3a3, #636363); */


}

.row {
    /* display: flex; */
    background: -webkit-linear-gradient(90deg, #3f50e9, #b94007);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 70em;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}
/* 
div.personal-info{
    display: flex;
  
    flex-direction: row;
    justify-content: space-evenly;
    border-width: 2px;
    border-color: #c84848;
    border-bottom: #00b7ff;
 
}

div.personal-info .info {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-grow: 1;
    border-width: 2px;
    border-color: #c84848;
    border-bottom: #00b7ff;
 
    background-color: white; 

} */

.social-container {
  width: 400px;
  margin: 10vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 2em;
}
.social-icons li {
  display: inline-block;
  margin: 0.50em;
  position: relative;
  font-size: 1.2em;

}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(120deg, #021aee, #c84848);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  color: #00b7ff;
  background: -webkit-linear-gradient(120deg, #00b7ff, #c84848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
.social-icons a.social-square:before {
  background: linear-gradient(120deg, #00b7ff, #c84848);
  border-radius: 10%;
}

  



